<form [formGroup]="formGroup" (submit)="$event.preventDefault()">
  
    <br>
    
  <div fxLayout="row" fxLayoutGap="10px">
    <div>
    <app-alert type="warn"><p><strong>Instrucciones</strong></p>
      <ol>
        <li>La foto debe ser tomada de frente, sin lentes, con el rostro y las orejas descubiertas y mostrando su DNI. La imagen debe tener fondo claro.</li>
        <li> Si sonríe, no debe abrir la boca ni mostrar los dientes.</li>
        <li> No tener prendas en la cabeza, salvo religiosas.</li>
        <li> La foto no debe tener retoques.</li>
        <li> La foto debe ser nítida sin sombras.</li>
        <li> La foto no debe contener imágenes con fines electorales (ejemplo: polo con el número  del candidato, nombre de la Organización Política, etc.).</li>
      </ol>
     </app-alert>
    <br/>
  </div>
  <div class="imgDni" >
    <img src="../../../assets/dniFoto.jpg" height="300px" >
  </div>
    
  </div>
    <!-- <div fxLayout="column" fxLayoutGap="10px">
        <div>
           <div style="display: none">
            <input matInput formControlName="file">
          </div>
            <app-upload-file
            (fileDropped)="handleArchivoAgregado($event)"
              fxFlex="100"
              label = ""
              title="Arrastrar y soltar"
              description="Cargar foto DNI (Formato JPG o PDF, peso máximo 2Mb)"></app-upload-file>
          </div>
    </div> -->


    <div fxLayout="row" fxLayoutGap="10px">
      <file-upload
        formControlName="files"
        [multiple]="false"
        [animation]="true"
        accept="file_extension|image/*"
        fxFlex="100" 
        fileslimit=1 
        [ngStyle]="{
          'outline-color': filesControl.valid == false ? 'red' : ''
        }"
        [ngStyle]="{
          'background-color': filesControl.valid == false ? '#fdf4f4' : ''
        }"
      >
        <ng-template
          let-isFileDragDropAvailable="isFileDragDropAvailable"
          #placeholder
        >
          <file-upload-drop-zone>
            <ng-container
              *ngIf="isFileDragDropAvailable; else isNotDragDropAvailable"
            >
            Agregar un archivo (PNG, JPG o JPEG) o dar clic aquí.
            </ng-container>
            <ng-template #isNotDragDropAvailable> </ng-template>
          </file-upload-drop-zone>
        </ng-template>
  
        <ng-template
          let-i="index"
          let-file="file"
          let-control="control"
          #item
        >
          <file-upload-list-item
            [index]="i"
            class="item-test"
            [file]="file"
            [control]="control"
            >Remover</file-upload-list-item
          >
        </ng-template>
      </file-upload>
  
    </div>





    <br>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
      <button mat-flat-button type="button" color="primary" (click)="regresar()">REGRESAR</button>
      <button mat-flat-button type="button" color="warn" [disabled]="formGroup.invalid" (click)="continuar()">CONTINUAR</button>
    </div>
  </form>