<form [formGroup]="formGroup" (submit)="$event.preventDefault()">
  
    <br>
    <div fxLayout="column" fxLayoutGap="10px">
        <div>
           <div style="display: none">
            <input matInput formControlName="file">
          </div>
            <app-upload-file
            (fileDropped)="handleArchivoAgregado($event)"
              fxFlex="100"
              label = "Cargar foto"
              title="Arrastrar y soltar"
              description="Cargar foto DNI (Formato JPG o PDF, peso máximo 2Mb)"></app-upload-file>
          </div>
    </div>
    <br>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
      <button mat-flat-button type="button" color="primary" (click)="regresar()">REGRESAR</button>
      <button mat-flat-button type="button" color="warn" (click)="continuar()">CONTINUAR</button>
    </div>
  </form>