<form [formGroup]="formGroup" (submit)="$event.preventDefault()">
  <!-- <mat-card class="long-text-card"  [style.overflow]="'auto'" [style.height.px]="'250'"> -->
  <div  class="terminos">
    <h1 style="text-align: center; font-size: 16px; font-weight: bold;">ACEPTACIÓN DE TÉRMINOS Y CONDICIONES PARA EL USO DE LA CASILLA ELECTRÓNICA  DE LA ONPE
    </h1>
    <p>Conste  por el presente, la aceptación expresa y voluntaria del suscrito respecto a la  aceptación de términos y condiciones para el uso de la casilla electrónica de  la Oficina Nacional de Procesos Electorales - ONPE, quien manifiesta conocer su  contenido, aceptando expresamente la totalidad de las condiciones que a continuación  se detallan:</p>
    <ol>
      <li>El Sistema de Notificaciones  Electrónicas SISEN-ONPE es un sistema informático, a través del cual la ONPE  asigna a su público en general una casilla electrónica en la que se depositan  todas las comunicaciones y documentos cursados por los órganos de la ONPE.  </li>
      <li>El suscrito acepta haber recibido  gratuitamente su código de Usuario y contraseña de acceso a la casilla  electrónica los cuales tienen el carácter de confidencial por ser estrictamente  personales. Asimismo, por razones de seguridad, el suscrito debe cambiar su  contraseña en su primer ingreso y posteriormente  de manera periódica. </li>
      <li>El suscrito  tiene conocimiento que para acceder a su  casilla electrónica debe contar con un dispositivo informático conectado a  Internet y configurado para navegación por web, a través de los navegadores  Mozilla Firefox, Google Chrome y Microsoft Edge, en sus versiones actualizadas.  </li>
      <li>El suscrito se compromete a no ceder ni  transferir bajo ninguna modalidad ni circunstancia, el uso de la contraseña de  su casilla electrónica que la ONPE le asigne; siendo, en todo caso, único  responsable del empleo que terceras personas pudieran darle. </li>
      <li>El suscrito acepta que constituye  exclusiva responsabilidad de su persona, el omitir (por cualquier  circunstancia), revisar periódicamente, abrir su casilla electrónica y tomar  conocimiento oportuno de las notificaciones electrónicas remitidas por la ONPE.  </li>
      <li>La casilla electrónica es utilizada exclusivamente  para la remisión al suscrito de notificaciones de los pronunciamientos emitidos  por la ONPE.  </li>
      <li>Soy responsable de conocer y dar  cumplimiento a las disposiciones contenidas en el &ldquo;Reglamento del Sistema de  Notificaciones Electrónicas – SISEN-ONPE&rdquo;, aprobado por Resolución Jefatural  n.º 002079-2022-JN/ONPE (25MAY2022).  </li>
      <li>Una vez creada y activada la casilla  electrónica tiene vigencia indefinida, salvo que se verifique que no tiene  actividad por un periodo dos años, al constituir el único medio de notificación  desde la ONPE hacia el Usuario respecto a los procedimientos administrativos en  curso, conforme con las disposiciones respectivas emitidas en el &ldquo;Reglamento  del Sistema de Notificaciones Electrónicas – SISEN-ONPE&rdquo;.  </li>
      <li>Solamente se asigna una casilla  electrónica por persona natural o persona jurídica. </li>
      <li>El suscrito tiene conocimiento y acepta  que la no recepción de la Alerta Informativa en su correo electrónico no  invalida el acto de notificación realizado en su casilla electrónica.  </li>
      <li>El usuario acepta que el cómputo de  plazos que se deriven de la notificación a través de la casilla electrónica se  inicia a partir del día hábil siguiente de haberse efectuado la notificación.  En el sistema informático se consigna la fecha de depósito de la notificación. </li>
      <li>En cumplimiento con lo dispuesto por la  Ley n.º 29733, Ley de Protección de Datos Personales y su Reglamento, aprobado  por Decreto Supremo n.º 003-2013-JUS, el Usuario brinda su consentimiento para  el tratamiento de sus datos personales, los cuales serán empleados para todos  los procedimientos y servicios realizados ante la ONPE. </li>
      <li>En atención a la normativa vigente, la  ONPE ha adoptado medidas legales, organizativas y técnicas apropiadas para  garantizar la seguridad de los datos personales del suscrito, a fin de evitar  su alteración, pérdida, tratamiento indebido o acceso no autorizado. En ese  sentido, la ONPE sólo realizará el tratamiento de los datos personales del  suscrito que estén almacenados en repositorios que reúnan las condiciones de  seguridad exigidas por la normativa de protección de datos personales vigente.</li>
    </ol>
  </div>

  <!-- </mat-card> -->
  <br>
 
  <hr>
  <div fxLayout="column" fxLayoutGap="10px" class="terminos">
    <div fxFlex="100" style="word-wrap: break-all;">
      <mat-checkbox formControlName="terminosCondiciones">Estoy de acuerdo con los TÉRMINOS Y CONDICIONES.
      </mat-checkbox>
    </div>
    <div fxFlex="100" style="word-wrap: break-all; width: 100% !important;">
      <mat-checkbox formControlName="politicasDatos">Estoy de acuerdo con las POLÍTICAS DE PRIVACIDAD DE DATOS PERSONALES.</mat-checkbox>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row" style="text-align: center;" >

      <div class="col-sm">
        <button class="btn-valid" type="button"  [disabled]="validarForm()" (click)="continuar()">CONTINUAR</button>
      </div>
      <br>
      <div class="col-sm">
        <button class="btn-back" type="button"  (click)="regresar()">REGRESAR</button>
      </div>
    </div>
  </div>
</form>
