footer {
    text-align: center;
    padding: 3px;
    background-color: #003770;
    color: white;



    /* width: 1440px; */
    min-height: 89px;
    left: 0px;
    bottom: 1px;
  }

  .toolbar{
    background-color: #0073CF;
    color: white;
  }


  .centrarVerticalmente{

    height: 150px;
    width: 100%;
    background: #E5E5E5;
    top: 50%; 
    margin-top: -50px; /*mitad de la altura del div*/
    
  }
  
  .centrarVerticalmente2{
  
    height: 50px;
    background-color: #0073CF;
    color: white;
    width: 100%;
    top: 50%;
  

}
.centrarVerticalmente3{
    height: 96px;
    background-color: #ffffff;
    width: 100%;
}

  .label-toolbar{
    text-align: center;
  }

  .margin-auto {
    display: flex;
  }
  
  .margin-auto__content {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
  }

  .imagen{
    width: 140px;
    max-height: 100%;
  }

  .imagenLogo{
    width: 140px;
    max-height: 100%;
    margin: 5px;
  }

.foot{
  font-family: 'Open Sans';
  margin-top: 10px;
}

.font-foot1{
  color: #FFB81C; 
  font-family: Arial, Helvetica, sans-serif;
}

.font-foot2{
  color: #ffffff; 
  font-family: Arial, Helvetica, sans-serif;
}