<div style="padding: 20px; margin: 0 auto;">
    <img src="../../assets/isologo.svg" alt="Oficina Nacional de Procesos Electorales | ONPE" width="100" style="margin: 0 auto">
    <br>
    <br>
    <app-alert type="warn">
        <p>Estimado ciudadano, su solicitud a la Casilla Electrónica de la ONPE lo puede realizar a través de su dispositivo 
            <strong>Tablet</strong>, <strong>Computadora</strong> o <strong>Laptop</strong>.
        </p>
    </app-alert>    
    <br>
    <a class="linkContent" href="https://www.onpe.gob.pe">Ir a la página de la ONPE</a>
</div>