/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



@media only screen and (min-width: 900px) {
    .principal {
      /* background-color: blue; */
      margin-left: 200px;
      margin-right: 200px;
      

    }
    button{
        width: 100px !important;
    }

    
    .mat-form-field {
        width: 100% !important;
        
        /* fxLayout="column" fxLayoutAlign="space-evenly stretch"  */
      }
    
  }


  .label-blue{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    display: flex;
    align-items: center;

    /* Azul */

    color: #0073CF;
    width: 176px;
    height: 41px;
    left: 207px;
    top: 385px;
  }
